<!DOCTYPE html>
<html ng-app="userProfiles">
<head>
    <meta charset="utf-8">
    <title>mini-userProfiles</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="MainController">
    
    <div ng-repeat='user in users'>
        
        <img ng-src="{{user.avatar}}">
        <div>{{user.first_name}} {{user.last_name}}</div>
        <button ng-click="toggle(user.id)" ng-class='{favorite: user.isFavorite}'>Favorite</button>
    
    </div>
    
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
     <script src="app.js"></script>
     <script src="controller.js"></script>
     <script src="service.js"></script>
</body>
</html>